@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Press Start 2P", "VT323", "Share Tech Mono", "Courier New",
        Courier, monospace, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

* {
    font-family: "Press Start 2P";
}

body {
    @apply bg-black;
}

.header {
    background-color: rgb(17, 17, 17);
}

.games-list-word {
    @apply text-green-500;

    text-shadow: 0 0 10px #22c55e, 0 0 60px #22c55e;
}

.game-table thead tr th,
.game-table tbody tr td {
    @apply px-1 py-2 md:p-1 text-center border border-white;
}

.game-table tbody tr td {
    @apply bg-black;
}

button {
    @apply cursor-pointer;
}
